@import url('https://fonts.googleapis.com/css2?family=Oswald&display=swap');

body {
    background-color: #CBBBAB;
    font-family: 'Oswald', sans-serif;
}

header img, footer img, .column img, .opis {
    width: 100%;
}

.text {
    background-color: #4CAF50;
    color: white;
    font-size: 16px;
    padding: 16px 32px;
}

.tekst {
    font-size: 1.3em;
    color: #111;
    line-height: 1.5;
    margin: 0 2%;
    text-align: justify;
}

.glowa img {
    float: right;
    right: 0;
    width: 20%;
    padding-left: 5%;

}

.flaga {
    float: right;
}

.button {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 3%;
}

.button button {
    background-color: #66685B;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 32px;
    border-radius: 12px;
    transition-duration: 0.4s;
    cursor: pointer;

}

.button button:hover {
    background: #4A4541;
}


footer {
    position: relative;
    padding-top: 3%;
    ;
}

footer ul {
    display: flex;
    list-style: none;

}

#mobile-gmina {
    display: none;
}

footer ul li {
    padding-right: 1%;
}

@media screen and (max-width: 800px) {
    #gmina {
        display: none;
    }
}

@media screen and (max-width: 800px) {
    #mobile-gmina {
        display: block;
        margin-top: -40px;
    }
}


.image {
    opacity: 1;
    transition: .5s ease;
    backface-visibility: hidden;
}

.image:hover {
    opacity: 0.3;
}

.galeria div {
    margin: auto;
}

.galeria a {
    text-decoration: none;
    color: aliceblue;
    text-transform: uppercase;
    font-weight: bold;
    font-size: 28px;
    justify-content: center;
}

.row {
    display: flex;
    flex-wrap: wrap;
    padding: 0 4px;
}


/* Create four equal columns that sits next to each other */
.column {
    flex: 25%;
    max-width: 25%;
    padding: 0 4px;
    justify-content: center;
    text-align: center;
}

.column img {
    margin-top: 8px;
    vertical-align: middle;
}

/* Responsive layout - makes a two column-layout instead of four columns */
@media screen and (max-width: 800px) {
    .column {
        flex: 50%;
        max-width: 50%;
    }
}

/* Responsive layout - makes the two columns stack on top of each other instead of next to each other */
@media screen and (max-width: 600px) {
    .column {
        flex: 100%;
        max-width: 100%;
    }
}

.naglowek {
    color: #111;
    font-family: 'Oswald', sans-serif;
    font-size: 28px;
    text-transform: uppercase;
}

.column .teatr {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.zdjecie {
    position: relative;
    text-align: center;
    color: white;
    max-width: 400px;
    max-height: 200px;
    padding: 3%;
}

.centered {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 1em;
    text-transform: uppercase;
}

.zdjecie:hover {
    opacity: 0.3;
}

.sekcja {
    font-size: 32px;
    text-decoration: underline;
    text-align: center;
    padding-top: 3%;

}

.profil {
    display: flex;
}

/* Responsive layout - makes a two column-layout instead of four columns */
@media screen and (max-width: 800px) {
    .profil {
        display: block;
    }
}

.nazwa {
    width: 50%;
    text-align: center;
    font-size: 4vw;
    font-weight: bold;
    display: flex;
    justify-content: center;
    align-items: center;
}

@media screen and (max-width: 800px) {
    .nazwa ul li{
        width: 100%;
        margin-left: -5%;
    }

    .info ul li {
        width: 88%;
    }

    #parotskympg
     {
        padding-bottom: 1100px;
    }
}

.nazwa ul {
    list-style: none;
}

#tytul {
    font-style: italic;
}

.foto img {
    margin: 3px;
}

@media screen and (max-width: 800px) {

    .nazwa, .foto {
        width: 100%;
    }
}

.info {
    text-align: justify;
    font-size: 1.3em;
    width: 80%;
    margin: 2% auto;
    line-height: 1.5;
}

.info span {
    font-weight: 800;
    text-decoration: underline;
}

.opis ul {
    width: 100%;
    text-align: justify;
}

/* YouTube/Vimeo frame */

.yt {
    text-align: center;
    margin-top: 3%;
}

@media only screen and (max-width: 700px) {
    iframe {
        width: 100%;
    }
}
