@import url(https://fonts.googleapis.com/css2?family=Oswald&display=swap);

body {
    background-color: #cbbbab;
    font-family: 'Oswald',sans-serif
}

@media only screen and (max-width:700px) {
    body {
        overflow-x: hidden
    }
}

.column img,.opis,footer img,header img {
    width: 100%
}

.text {
    background-color: #4caf50;
    color: #fff;
    font-size: 18px;
    padding: 16px 32px;
}

.tekst {
    font-size: 1.3em;
    color: #000;
    line-height: 1.5;
    margin: 0 2%;
    text-align: justify
}

.glowa img {
    right: 0;
    width: 20%;
    padding-left: 5%
}

.flaga,.glowa img {
    float: right
}

.button {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 3%
}

.button button {
    background-color: #66685b;
    border: 0;
    color: #fff;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 32px;
    border-radius: 12px;
    transition-duration: .4s;
    cursor: pointer
}

.button button:hover {
    background: #4a4541
}

footer {
    position: relative;
    padding-top: 3%
}

footer ul {
    display: flex;
    list-style: none
}

#mobile-gmina {
    display: none
}

footer ul li {
    padding-right: 1%
}

@media screen and (max-width:700px) {
    #gmina {
        display: none
    }

    footer ul {
        padding-right: 10%
    }

    #mobile-gmina {
        display: block;
        margin-top: -40px
    }
}

.image {
    opacity: 1;
    transition: .5s ease;
    backface-visibility: hidden
}

.image:hover {
    opacity: .3
}

.galeria div {
    margin: auto;
    -webkit-text-stroke: .1px #000
}

.galeria a {
    text-decoration: none;
    text-transform: uppercase;
    font-weight: 700;
    font-size: 28px
}

.row {
    display: flex;
    flex-wrap: wrap;
    padding: 0 4px
}

.column,.galeria a {
    justify-content: center
}

.column {
    flex: 25%;
    max-width: 25%;
    padding: 0 4px;
    text-align: center
}

.column img {
    margin-top: 8px;
    vertical-align: middle
}

@media screen and (max-width:700px) {
    .column {
        flex: 50%;
        max-width: 50%
    }
}

@media screen and (max-width:500px) {
    .column {
        flex: 100%;
        max-width: 100%
    }
}

.naglowek {
    color: #000;
    font-family: 'Oswald',sans-serif;
    font-size: 28px;
    text-transform: uppercase
}

.column .teatr {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%)
}

.zdjecie {
    position: relative;
    text-align: center;
    color: #fff;
    max-width: 400px;
    max-height: 200px;
    padding: 3%
}

.centered {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    font-size: 1em;
    text-transform: uppercase
}

.zdjecie:hover {
    opacity: .3
}

.info span,.sekcja {
    text-decoration: underline
}

.sekcja {
    font-size: 32px;
    text-align: center;
    padding-top: 3%
}

.profil {
    display: flex
}

@media screen and (max-width:800px) {
    .profil {
        display: block
    }
}

.nazwa {
    width: 50%;
    text-align: center;
    font-size: 4vw;
    font-weight: 700;
    display: flex;
    justify-content: center;
    align-items: center
}

@media screen and (max-width:800px) {
    .nazwa {
        font-size: 7vw
    }

    .nazwa ul li {
        width: 100%;
        margin-left: -5%
    }

    .info ul li {
        width: 88%
    }

    .m-p-g__thumbs-img {
        float: none!important;
        width: 100%!important;
        height: 100%!important
    }
}

.nazwa ul {
    list-style: none
}

#tytul {
    font-style: italic
}

.foto img {
    margin: 3px
}

@media screen and (max-width:800px) {
    .foto,.nazwa {
        width: 100%
    }
}

.info,.opis ul {
    text-align: justify
}

.info {
    font-size: 1.3em;
    width: 80%;
    margin: 2% auto;
    line-height: 1.5
}

.info span {
    font-weight: 800
}

.opis ul {
    width: 100%
}

.yt {
    text-align: center;
    margin-top: 3%
}

@media only screen and (max-width:700px) {
    iframe {
        width: 100%
    }

    #fritsch {
        font-size: 25px!important
    }

    #mtt {
        font-size: 20px!important
    }
}

#link {
    color: #000;
    font-size: 1.5em
}

.pion {
    height: 100%!important;
    max-height: 100%!important;
    width: 100%!important
}
